/* Header */

header {
    background-image: url("../img/header.jpg");
    background-size: cover;
}

.header-background {
    background-color: black;
    opacity: 0.8;
}

hr{
    height: 3px;
    background-color: white;
    margin: 0px;
}

header h3 {
    color: white;
    margin-left: 10px;

}

.logo {
    text-align: center;
    color: white;
    margin-top: 1rem;
    padding-top: 5rem;
    margin-bottom: 1rem;
    padding-bottom: 5rem;
}

.logo img {
    width: 5rem;
}

.menu-header {
    margin-right: 15px;
}

.menu-header a {
    color: white;
    text-decoration: none;
}


/* Fin Header */