/* Header */

.menu-header {
    margin-right: 15px;
}

.menu-header a {
    color: white;
    text-decoration: none;
}

.my-contact {
    padding: 0px;
    text-align: left;
    font-family: 'Courgette', cursive;
    
}

.toggle {
    text-align: end;
}

.my-address {
    padding-left: 70px;
}

.my-address h5 {
    font-family: 'Courgette', cursive;

}

.bg-dark h3 a {
    color: white;
}

.toggle {
    text-align: end;
}


@media screen and (max-width: 768px){
    .my-container-article {
        display: flex;
        flex-direction: column;
    }

    .my-container-article img {
        width: 100%;
        height: auto;
    }

}

@media  screen and (max-width:426px) {
    .my-paragraph {
        flex-direction: column;
        text-align: center;
    }
}